:host {
  width: 100%;
  .cart {
    display: flex;
    flex-flow: column;
    height: 100%;
    .items-list {
      height: 78%;
      border-bottom: 2px solid dimgrey;
      display: flex;
      flex-flow: column;
      background-color: #fff;
      header{
        display: flex;
        flex-flow: row;
      }
      .item {
        display: flex;
        flex-flow: row;
        padding: 15px;
        font-size: 15px;
        font-weight: 400;
      }
      .item-count {
        padding-left: 5px;
      }
    }
    .receipt-view {
      height: 20%;
      padding: 15px;
      background-color: lightyellow;
    }
  }
}
